<div class="col-2 mh-100 overflow-auto py-2 sidebar">
  <nav>
    <ul class="nav flex-column">
      <li class="nav-item border-bottom">
        <a class="nav-link" href="/tasks/new">
          <span data-feather="home">New Task</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">
          <span data-feather="home">Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">
          <span data-feather="home">(Today)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">
          <span data-feather="home">(Upcoming)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">
          <span data-feather="home">(Someday)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/log">
          <span data-feather="home">Log</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">
          <span data-feather="home">(Trash)</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
