<div class="container-fluid d-flex flex-column vh-100 overflow-hidden">
  <div class="row flex-grow-1 overflow-hidden">

    <%= render "sidebar" %>

    <main role="main" class="col mh-100 overflow-auto pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Home</h1>
      </div>
    </main>

  </div>
</div>