<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Log: Completed</h1>
</div>
<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <% @tasks.each do |task| %>
    <%= render 'tasks/detail_log', task: task %>
    <br>
  <% end %>
</div>